.container {
  width: 960px;
  margin:0 auto;
}

.main {
  padding-top: 200px;
  text-align: center;
}

img {
  margin: 0 auto;
}

.input_box {
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  background-color: #F3F3F3;
  color: #777;
  border-radius: 2px;
  box-shadow: none;
  margin: 3% 0.5% 0 0.5%;
  width: 150px;
  height: 3em;
  border: none;
  font-weight: 800;
}